.neoModalCurtain
	.neoModal.fringe(style="width: ${ initWidth };", data-bind="style: {maxWidth: (P.window.w() * ${ maxWidthRatio } >> 0) + 'px'}")
		.neoModalTools.fringe
			span.modalCaption ${ topic }
			a.off.closeClick(title="${ closeTxt }")
				span.glyphicon.glyphicon-off
		<% if ( fullHeight ){ %>
		.neoModalContainer.mContainer.mHidden(data-bind="style: {maxHeight: P.window.h() - 120 + 'px', minHeight: P.window.h() - 120 + 'px'}")
		<% } %>
		<% if ( !fullHeight ){ %>
		.neoModalContainer.mContainer.mHidden(data-bind="style: {maxHeight: P.window.h() - 120 + 'px'}")
		<% } %>

		//-Подложка под верхнюю тень тулбара модального окна
		.tsb

		.neoModalFoot
			button.btn.btn-xs.btn-primary.closeClick
				span.glyphicon.glyphicon-ok
				|  ${ closeTxt }