meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(name="viewport", content="width=768, maximum-scale=1")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="msapplication-tap-highlight", content="no")

//-OpenGraph
meta(property="fb:app_id", content="1471196496518009")
meta(property="og:type", content="website")
meta(property="og:locale", content="ru_RU")
meta(property="og:site_name", content="PastVu")

if meta && meta.og
    if meta.og.title
        meta(property="og:title", content=meta.og.title)
    if meta.og.desc
        meta(property="og:description", content=meta.og.desc)
    if meta.og.img
        meta(property="og:image", content=meta.og.img.url)
        if (meta.og.img.w)
            meta(property="og:image:width", content=meta.og.img.w)
        if (meta.og.img.h)
            meta(property="og:image:height", content=meta.og.img.h)

if meta && meta.desc
    meta(property="description", content=meta.desc)

//-Facebook-style для редиректа клиента с отключённым javascript
if !nojsShow && nojsUrl
    noscript: meta(http-equiv="refresh", content='0; URL=' + nojsUrl)

link(rel="shortcut icon", href="/favicon.ico")

//-Coast by Opera for ipad
link(rel="icon", sizes="228x228", href="/coast-icon.png")

//-Retina ios7 ipad
link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
//-Retina ios6 ipad
link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
//-Retina ios7 iphone
link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
//-Retina ios6 iphone
link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
//-ios7 ipad
link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
//-ios6 ipad
link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
link(rel="apple-touch-icon", href="/apple-touch-icon.png")

//-Фоновый цвет на старт-скрине Windows 8
meta(name="msapplication-TileColor", content="#214A7A")
//-Иконка для старт-скрина Windows 8
meta(name="msapplication-TileImage", content="/tileicon.png")

if meta && meta.title
    title= meta.title