mixin noticeLi(arr, path)
	each val in arr
		- usersLogin = Object.keys(val.brief.users)
		li(style="margin-left: 10px;")
			a(href=hosturl + path + val.cid + '?hl=comment-unread&utm_campaign=notification&utm_source=notify_letter&utm_medium=email', target='_blank')= val.title
			div(style="margin-left: 13px;")
				= val.briefFormat.newest
				if val.briefFormat.unread
					= ' (всего ' + val.briefFormat.unread + ')'
			if usersLogin.length > 1
				div(style="margin-left: 13px; margin-bottom: 4px;")
					| Авторы:
					each login, index in usersLogin
						if (index < 6)
							if (index > 0)
								| ,
							= ' ' + val.brief.users[login]
					if usersLogin.length > 6
						= ' и др.'
			if usersLogin.length === 1
				div(style="margin-left: 13px; margin-bottom: 4px;")
					| Автор: #{val.brief.users[usersLogin[0]]}

include head
- var hosturl = addr.protocol + '://' + addr.host
p На момент отправки данного уведомления в подписанных вами темах было добавлено следующее количество комментариев:
if news.length
	p(style="margin-bottom: 2px;")
		strong Новости:
	+noticeLi(news, '/news/')
if photos.length
	p(style="margin-bottom: 2px;")
		strong Фотографии:
	+noticeLi(photos, '/p/')
p
	| Управлять подписанными материалами вы можете на странице подписок: <a href='#{hosturl + '/u/' + user.login + '/subscriptions'}' target='_blank'>#{addr.host + '/u/' + user.login + '/subscriptions'}</a>
	br
	| Задать интервал уведомления вы можете на странице настроек: <a href='#{hosturl + '/u/' + user.login + '/settings'}' target='_blank'>#{addr.host + '/u/' + user.login + '/settings'}</a>