include head
- var hosturl = addr.protocol + '://' + addr.host
p На момент отправки данного уведомления в подписанных вами материалах есть следующее количество непрочитанных комментариев:
if news.length
	p(style="margin-bottom: 2px;")
		strong Новости:
	each val in news
		li <a href='#{hosturl + '/news/' + val.cid}' target='_blank'>#{val.title}</a>: #{val.ccount_new_format}
if photos.length
	p(style="margin-bottom: 2px;")
		strong Фотографии:
	each val in photos
		li <a href='#{hosturl + '/p/' + val.cid}' target='_blank'>#{val.title}</a>: #{val.ccount_new_format}
p
	| Управлять подписанными материалами вы можете на странице подписок: <a href='#{hosturl + '/u/' + user.login + '/subscriptions'}' target='_blank'>#{addr.host + '/u/' + user.login + '/subscriptions'}</a>
	br
	| Задать интервал уведомления вы можете на странице настроек: <a href='#{hosturl + '/u/' + user.login + '/settings'}' target='_blank'>#{addr.host + '/u/' + user.login + '/settings'}</a>