include head
p
    | #{t('A password recovery request was created for your PastVu account.', { ns: 'mail' })}
    br
    | #{t('If you did not request this, simply ignore and delete this message.', { ns: 'mail' })}
p
    | #{t('To set a new password, follow this link:', { ns: 'mail' })}
    br
    a(href=config.client.origin + '/confirm/' + confirmKey, target='_blank')
        = config.client.host + '/confirm/' + confirmKey
    br
    small #{t('The link is valid for {{linkvalid}}; after that you will need to request a password change again', { linkvalid: linkvalid, ns: 'mail' })}
