include head
p
    | #{t('Для Вашей учетной записи был создан запрос на восстановление пароля на проекте PastVu.')}
    br
    | #{t('Если Вы не производили таких действий на нашем сайте, то просто проигнорируйте и удалите письмо.')}
p
    | #{t('Для ввода нового пароля перейдите по следующей ссылке:')}
    br
    a(href=config.client.origin + '/confirm/' + confirmKey, target='_blank')
        = config.client.host + '/confirm/' + confirmKey
    br
    small #{t('Ссылка действительна {{linkvalid}}, по истечении которых Вам будет необходимо запрашивать смену пароля повторно', { linkvalid: linkvalid })}
