include head
p(style="padding-left: 3px; border-style: solid; border-width: 0px 0px 0px 3px; border-color: #5D88B6;")
    | #{t('You provided the following details:', { ns: 'mail' })}
    br
    != t('Login: <strong>{{login}}</strong>', { login: login, ns: 'mail' })
    br
    | #{t('E-mail:', { ns: 'mail' })} #{email}
    br
    small #{t('For better security we do not store your original password. If you forget it, just set a new one via the recovery procedure on the site.', { ns: 'mail' })}
p
    | #{t('We require every user to confirm registration so that we can verify the e-mail address is real.', { ns: 'mail' })}
    br
    | #{t('This protects us from spammers and duplicate registrations.', { ns: 'mail' })}
p(style="padding-left: 3px; border-style: solid; border-width: 0px 0px 0px 3px; border-color: #5D88B6;")
    | #{t('To activate your account, follow this link:', { ns: 'mail' })}
    br
    a(href=config.client.origin + '/confirm/' + confirmKey, target='_blank')
        = config.client.host + '/confirm/' + confirmKey
    br
    small #{t('The link is valid for {{linkvalid}}; after that you will need to register again', { linkvalid: linkvalid, ns: 'mail' })}
p(style="color: #999;")
    small #{t('You received this e-mail because this address was used during registration. If you did not register on our site, simply ignore and delete this message.', { ns: 'mail' })}