doctype 5
html
	head
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(http-equiv="cache-control", content="no-cache")
		meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=IE8")
		title= pageTitle
		link(rel="stylesheet", type="text/css", href="/style/normalize.css")
		link(rel="stylesheet", type="text/css", href="/style/style_common.css?appv=" + appVersion)
		script(type='text/javascript')
		script(type='text/javascript', src="js/jquery-1.7.2.min.js")
		script(type='text/javascript', src="js/flash_detect.js")
		script(type='text/javascript', src="js/Utils.js?appv=" + appVersion)
			
	body
		script(type='text/html', id="CamListTemplate").
			<div class='CamList' data-bind="style: {height: containerH()+'px'}, css: {scrolls: scrollActive()}">
				<div class='camListScroll up' data-bind="css: {noScroll: scrollTop()==0}, event: { mousedown: ScrollOnUp, touchstart: ScrollOnUp, mouseup: ScrollOff, touchend: ScrollOff }"></div>
				<div class='camListRowsWrapper' data-bind="style: {height: (containerH() - (scrollActive() ? 58 : 0))+'px'}, event: {mousewheel: OnWheel, DOMMouseScroll: OnWheel}">
					<div class='camListRows' data-bind="foreach: cams, style: {marginTop: scrollTop()+'px'}">
						<div class='CamListRow' data-bind="click: $parent.clickRow">
							<div class='CamIcon' data-bind="style: {backgroundImage: 'url('+icon+')'}"></div>
							<div class='CamContent'>
								<div class='CamName' data-bind="html: name"></div>.&nbsp;
								<div class='CamAddr' data-bind="text: address"></div>
								<div class='CamTools' data-bind="text: address"></div>
							</div>
						</div>
					</div>
				</div>
				<div class='camListScroll down' data-bind="css: {noScroll: scrollDownNoScroll()}, event: { mousedown: ScrollOnDown, touchstart: ScrollOnDown, mouseup: ScrollOff, touchend: ScrollOff }"></div>
			</div>
		div#main_loader
			div#cnt
				div#welcome_msg.
					Retro photo of humankind urbanization
				div#loading_pics
					div#l1
					div#l2
					div#l3
					div#l4
					div#l5
					div#l6
					div#l7
					div#l8
					div#l9
					div#l10
				div#bar
					div#bar_fill
				div#info_msg.
					loading, please wait
				div#percent
			div.helper
		script(type='text/javascript')
			var main_loader = document.getElementById('main_loader'),
				allPercent = 15, //15% остается на выполнение app()
				onePercentW = ($('#bar').width())/100,
				l_pics = Array.prototype.splice.call(document.querySelector('#loading_pics').children, 0, 10).sort(function sRand() { return Math.random() > 0.5 ? 1 : -1;}),
				current_percent = 0,
				main_loader_percent = document.getElementById('percent'),
				main_loader_bar_fill = document.getElementById('bar_fill');
				
			function LoaderIncrement(delta, finish){
				delta = (allPercent > 100 ? Math.floor(delta*100/allPercent) : Math.floor(delta*allPercent/100));
				current_percent += delta;
				if (current_percent >= 100 || finish){
					current_percent = 100;
					main_loader.classList.add('green');
				}
				var dec = Math.floor(current_percent/10);
				for(var i=1; i<=dec; i++) l_pics[i-1].classList.add('finish');
				main_loader_percent.innerHTML = current_percent + '%';
				main_loader_bar_fill.style.width = current_percent*onePercentW + 'px';
			}
			LoaderIncrement(0);
			function removeLoader(){
				main_loader.style.display = 'none';
				main_loader = main_loader_percent = main_loader_bar_fill = null;
			}
		div#main.
			<div id="map">
			</div>
			<div id='top_panel_fringe' class='fringe'>
				<div id='top_panel' class='inner_bord'>
					<div id='appName'>Retro photo of mankind's habitat
					</div>
				</div>
			</div>
			<div id='logo_fringe' class='fringe'>
				<div id='logo' class='inner_bord'>
				</div>
			</div>
			<div id='nav_panel'>
				<div id='moystick'>
					<div id='mup' onclick="mapUp()"></div>
					<div id='mright' onclick="mapRight()"></div>
					<div id='mdown' onclick="mapDown()"></div>
					<div id='mleft' onclick="mapLeft()"></div>
					<div id='mhome' onclick="setMapDefCenter(true)"></div>
				</div>
				<div id='zoomin_fringe' class='fringe btn inout' onclick="ChangeZoom(1)"><div id='zoomin' class='inner_bord'></div></div>
				<div id='zoomout_fringe' class='fringe btn inout' onclick="ChangeZoom(-1)"><div id='zoomout' class='inner_bord'></div></div>
				<div id='nav_stick_fringe' class='fringe btn'><div id='nav_stick' class='inner_bord'></div></div>
				<div id='nav_slider_area'>
				</div>
			</div>
			<div id='user_panel_fringe' class='fringe gradientBack' data-bind="style: {right: 1==1 ? '116px' : '78px'}">
				<div id='user_panel' class='inner_bord'>
					<sec:ifLoggedIn>
						<g:message code="index.logged.as" default="Logged in as"/> <sec:username/> | 
						<sec:access expression="hasRole('ROLE_ADMIN') or hasRole('ROLE_OBJECT_ADMIN')">
							<span onclick="window.open(Server.paths.admin, '_blank')">
								<g:message code="index.admin.panel" default="Admin panel"/>
							</span> | 
						</sec:access>
						<span onclick='ChangePassOpen(); return false;'>
							<g:message code="index.changepass" default="Change password"/>
						</span> | 
						<span onclick='document.location=Server.paths.logout'>
							<g:message code="index.logout" default="Logout"/>
						</span>
					</sec:ifLoggedIn>
					<sec:ifNotLoggedIn>
						<g:message code="index.anonim" default="You're not authorized"/> | 
						<span onclick='LoginOpen(); return false;'>
							<g:message code="index.login" default="Sign in"/>
						</span>
					</sec:ifNotLoggedIn>
				</div>
			</div>
			<div id='super_home_fringe' class='fringe gradientBack' onclick='SuperHome();' data-bind="style: {right: 1==1 ? '78px' : '40px'}">
				<div id='super_home' class='inner_bord'>
					<div id='super_home_img'>
					</div>
				</div>
			</div>
			
			<div id='matrix_button_fringe' class='fringe gradientBack' data-bind="click: toggleActive, css: {show: allowed(), pushed: active ()}">
				<div id='matrix_button' class='inner_bord'>
					<div id='matrix_button_img'>
					</div>
				</div>
			</div>
			
			<div id='flag_current' class='flag' onclick='this.classList.toggle("open"); document.getElementById("flags_available").classList.toggle("open"); document.getElementById("layers_fringe").classList.toggle("move")'>
				<div id='flag_arrow'></div>
			</div>
			<div id='flags_available'>
			</div>

			<div id='layers_fringe' class='fringe gradientBack'>
				<div id='layers_panel' class='inner_bord'>
					<div id='current' onclick="this.parentNode.classList.toggle('open'); document.getElementById('filter_fringe').classList.toggle('move'); document.getElementById('search_fringe').classList.toggle('moveByLayers');"></div>
					<div id='systems'></div>
				</div>
			</div>
			<div id='filter_fringe' class='fringe gradientBack'>
				<div id='filter_panel' class='inner_bord'>
					<div id='filt_title' onclick="this.parentNode.classList.toggle('open'); document.getElementById('search_fringe').classList.toggle('moveByFilter');">Фильтр</div>
					<div id='filters'>
						<div id='fao_title'>Административное деление</div>
						<div id='fao'>
							<div id='f_0_0' class='fon' onclick='FilterChange(this)' onmouseover='AOUps(this, true)' onmouseout='AOUps(this)'><div class='fchk'></div><div class='fnm'>ЦАО</div></div>
							<div id='f_0_1' class='fon' onclick='FilterChange(this)' onmouseover='AOUps(this, true)' onmouseout='AOUps(this)'><div class='fchk'></div><div class='fnm'>САО</div></div>
							<div id='f_0_2' class='fon' onclick='FilterChange(this)' onmouseover='AOUps(this, true)' onmouseout='AOUps(this)'><div class='fchk'></div><div class='fnm'>СВАО</div></div>
							<div id='f_0_3' class='fon' onclick='FilterChange(this)' onmouseover='AOUps(this, true)' onmouseout='AOUps(this)'><div class='fchk'></div><div class='fnm'>ВАО</div></div>
							<div id='f_0_4' class='fon' onclick='FilterChange(this)' onmouseover='AOUps(this, true)' onmouseout='AOUps(this)'><div class='fchk'></div><div class='fnm'>ЮВАО</div></div>
							<div id='f_0_5' class='fon' onclick='FilterChange(this)' onmouseover='AOUps(this, true)' onmouseout='AOUps(this)'><div class='fchk'></div><div class='fnm'>ЮАО</div></div>
							<div id='f_0_6' class='fon' onclick='FilterChange(this)' onmouseover='AOUps(this, true)' onmouseout='AOUps(this)'><div class='fchk'></div><div class='fnm'>ЮЗАО</div></div>
							<div id='f_0_7' class='fon' onclick='FilterChange(this)' onmouseover='AOUps(this, true)' onmouseout='AOUps(this)'><div class='fchk'></div><div class='fnm'>ЗАО</div></div>
							<div id='f_0_8' class='fon' onclick='FilterChange(this)' onmouseover='AOUps(this, true)' onmouseout='AOUps(this)'><div class='fchk'></div><div class='fnm'>СЗАО</div></div>
							<div id='f_0_9' class='fon' onclick='FilterChange(this)' onmouseover='AOUps(this, true)' onmouseout='AOUps(this)'><div class='fchk'></div><div class='fnm'>Зеленоград</div></div>
							<!--<div id='f_0_10' class='fon'><div class='fchk'></div><div class='fnm'>Дорожное строительство</div></div>-->
						</div>
						<div id='fcams_title'>Камеры</div>
						<div id='fcams'>
							<g:if test="${customerId == 'echd'}">
							<div id='f_1_3' class='fon' onclick='FilterChange(this)'><div class='fchk'></div><div class='fnm'>ВН ММС</div></div>
							</g:if>
							<div id='f_1_0' class='fon' onclick='FilterChange(this)'><div class='fchk'></div><div class='fnm'><g:if test="${customerId == 'echd'}">ДВН</g:if><g:else>Дорожное строительство</g:else></div></div>
							<div id='f_1_1' class='fon' onclick='FilterChange(this)'><div class='fchk'></div><div class='fnm'>Жилые дома</div></div>
							<div id='f_1_2' class='fon' onclick='FilterChange(this)'><div class='fchk'></div><div class='fnm'>ДОУ и школы</div></div>
							<g:if test="${customerId == 'echd'}">
							<div id='f_1_4' class='fon' onclick='FilterChange(this)'><div class='fchk'></div><div class='fnm'>ИТС</div></div>
							</g:if>
							<g:if test="${customerId != 'echd'}">
							<div id='f_1_3' class='fon' onclick='FilterChange(this)'><div class='fchk'></div><div class='fnm'>Прочие</div></div>
							</g:if>
						</div>
					</div>
				</div>
			</div>
			<div id='search_fringe' class='fringe gradientBack'>
				<div id='search_panel' class='inner_bord' data-bind="css: {open: open()==true, fill: query().length>0 }">
					<div id='search_in'>
						<div id='searchArrow' data-bind="click: toggleOpen"><div></div></div>
						<input id='SearchInput' placeholder="Поиск.." type="text" data-bind="value: query, valueUpdate: 'keyup'" autocomplete="off">
						<div id='searchClear' data-bind="click: clear"></div>
					</div>
					<div id='search_options'>
						<div id='searchWithFilter' data-bind="css: {check: respectFilter()==true}, click: toggleFilter"><div class='check_box'></div><div class='check_name'>С учетом фильтра</div></div>
						<div id='searchApplyMap' data-bind="css: {check: applyMap()==true}, click: toggleApplyMap"><div class='check_box'></div><div class='check_name'>Отображать на карте</div></div>
						<div id='searchResultCount'>Результатов: <span data-bind="text: resultCount"></span></div>
					</div>
					<div id='search_out' data-bind="template: {name:'CamListTemplate', data: CamList, afterRender: CamList.AfterTemplateRender}, style: {height: CamList.containerH()+'px'}">
					</div>
				</div>
			</div>
			<div id='butts'>
				<div id='bnav' class='butt' onclick="ShowPanel('nav_panel')"></div>
				<div id='binfo' class='butt' onclick="ShowPanel('info_fringe')"></div>
				<div id='bauth' class='butt' onclick="ShowPanel('user_panel_fringe')"></div>
				<div id='blay' class='butt' onclick="ShowPanel('layers_fringe')"></div>
			</div>
			<div id='cam_layer' class='transON' data-bind="css: {matrix: allowed() && active()}"></div>

			
			<div id='login_back'>
				<div id='login_fringe' class='fringe gradientBack active'>
					<div id="login_body" class='body'>
						<div id='login_head' class='head'><g:message code="index.authorization" default="Authorization"/></div>
						<form action='${request.contextPath}/j_spring_security_check' autocomplete="on"  method='POST' id='ajaxLoginForm' name='ajaxLoginForm' onSubmit="return AuthAjax(this);">
							<div class='label'><g:message code="index.username" default="Username"/>:</div>
							<g:if test="${accessLevel == 'FREE_REGISTRATION'}">
							<div class='label clickable' onclick='LoginActivateSwap("reg_fringe")'><g:message code="index.registration" default="Registration" /></div>
							</g:if>
							<br />
							<input id='login_user' type="text" required="required" title="input login" placeholder="${message(code: 'index.enter.login', default: 'Enter username')}" name="j_username" />
							<div class='label'><g:message code="index.password" default="Password"/>:</div>
							<div class='label clickable' onclick='LoginActivateSwap("recall_fringe")'><g:message code="index.forgot.password" default="Recover password"/></div>
							<br />
							<input id='login_pass' type="password" required="required" title="input password" placeholder="${message(code: 'index.enter.password', default: 'Enter password')}" name="j_password">
							<div class='label' style='margin: 0 0 5px 15px;'>Запомнить меня</div><div id='remember_check' name='_spring_security_remember_me' onclick='LoginRememberCheck(this)'></div><br/>
							<input type="submit" value="${message(code: 'index.button.ok', default: 'OK')}" />
							<input type="button" onclick='LoginClose()' value="${message(code: 'index.button.cancel', default: 'Cancel')}" />
						</form>
						<div id="login_wait" class='wait'><g:message code="index.wait.authorization" default="Authorizing.."/></div>
						<div id="login_mess" class='mess'></div>
					</div>
				</div>

				<div id='reg_fringe' class='fringe gradientBack'>
					<div id="reg_body" class='body'>
						<div id='reg_head' class='head'><g:message code="index.registration" default="Registration" /></div>
						<form action='somewhere' method='POST' autocomplete="off" id='ajaxRegForm' name='ajaxRegForm' onSubmit="return RegAjax(this);">
							<div class='label'>E-mail:</div><div class='label clickable' onclick='LoginActivateSwap("reg_fringe")'><g:message code="index.authorization" default="Authorization"/></div><br />
							<input id='reg_email' type="email" autocomplete="on" required="required" title="input login" placeholder="${message(code: 'index.enter.mail')}" name="email">
							<div class='label'><g:message code="index.password" default="Password"/>:</div><br />
							<input id='reg_pass' type="password" required="required" title="input password" placeholder="${message(code: 'index.enter.password')}" name="password">
							<div class='label'><g:message code="index.repeate.password" default="Repeat password"/>:</div><br />
							<input id='reg_pass2' type="password" required="required" title="input password" placeholder="${message(code: 'index.repeate.password')}" name="password2">
							<input type="submit" value="${message(code: 'index.button.ok')}">
							<input type="button" onclick='LoginClose()' value="${message(code: 'index.button.cancel')}">
						</form>
						<div id="reg_wait" class='wait'><g:message code="index.wait.sending" default="Sending.."/></div>
						<div id="reg_mess" class='mess'></div>
					</div>
				</div>

				<div id='recall_fringe' class='fringe gradientBack'>
					<div id="recall_body" class='body'>
						<div id='recall_head' class='head'><g:message code="index.forgot.password.label" default="Recover password"/></div>
						<form action='somewhere' method='POST' id='ajaxRecallForm' name='ajaxRecallForm' onSubmit="return RecallAjax(this);">
							<div class='label'><g:message code="index.mail" />:</div><div class='label clickable' onclick='LoginActivateSwap("recall_fringe")'><g:message code="index.authorization" default="Authorization"/></div><br />
							<input id='recall_email' type="email" autocomplete="off" required="required" title="input login" placeholder="${message(code: 'index.enter.mail')}" name="username">
							<input type="submit" value="${message(code: 'index.button.ok')}">
							<input type="button" onclick='LoginClose()' value="${message(code: 'index.button.cancel')}">
						</form>
						<div id="recall_wait" class='wait'><g:message code="index.wait.sending" default="Sending.."/></div>
						<div id="recall_mess" class='mess'></div>
					</div>
				</div>
			</div>
		
		script(type='text/javascript', src="/socket.io/socket.io.js")
		script(type='text/javascript', src="js/appLoader.js?appv=" + appVersion)