doctype html
html
    head
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="apple-mobile-web-app-capable", content="yes")
        title= t('PastVu API Documentation')

    body
        h2= t('PastVu API Documentation')
        span(style="color: #999")= t('Version 0.2.0')
        h3= t('Request parameters')
        table
            caption
            tbody
                tr
                    td app*
                    td= t('Application identifier. Issued by the administrator on request at support@pastvu.com.')
                tr
                    td rid*
                    td= t('Request identifier. A string that lets the requesting application match the response to its request. Echoed in the response.')
                tr
                    td stamp*
                    td= t('Request time (UTC) as unix-time (milliseconds since 1970/01/01). The request must be no older than 10 seconds. Echoed in the response.')
                tr
                    td method*
                    td= t('Request method, from the list below')
                tr
                    td data
                    td= t('Method parameters as JSON')
        | * #{t('Required request parameters')}

        h3= t('Response structure')
        | #{t('When the request parameters are valid, the server returns JSON (Content-Type: application/json; charset=utf-8) with this structure:')}
        table
            caption
            tbody
                tr
                    td rid
                    td= t('The request identifier supplied by the client')
                tr
                    td stamp
                    td= t('The request time supplied by the client')
                tr
                    td result
                    td= t('Method result. Structure depends on the method. May be absent on error.')
                tr
                    td error
                    td= t('Object returned on error. {code: <Number>, text: <String>}')

        h3= t('Request methods')
        table
            tbody
                tr
                    td photo.get
                    td
                        | #{t('Returns a photo object')}
                        div= t('Structure')
                        div= t('Structure')
                tr
                    td photos.near
                    td= t('Returns an array of photos nearest to the given coordinate, ordered by ascending distance')
                tr
                    td map.getBounds
                    td= t('Returns the arrays of clusters and photos that fall within the given map bounds')
                tr
                    td comments.getByObj
                    td= t('Returns the comment tree for a photo')
