doctype html
html
    head
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        meta(name="apple-mobile-web-app-capable", content="yes")
        title= t('Документация API PastVu')

    body
        h2= t('Документация API PastVu')
        span(style="color: #999")= t('Версия 0.2.0')
        h3= t('Параметры запроса')
        table
            caption
            tbody
                tr
                    td app*
                    td= t('Идентификатор приложения. Выдаётся администратором по запросу на адрес support@pastvu.com')
                tr
                    td rid*
                    td= t('Идентификатор запроса. Строка, позволяющая запрашиваемому приложению соотнести ответ с запросом. Возвращается в ответе')
                tr
                    td stamp*
                    td= t('Время (UTC) отправки запроса в формате unix-time (количество миллисекунд с 1970/01/01). Запрос должен быть не старше 10 секунд. Возвращается в ответе')
                tr
                    td method*
                    td= t('Метод запроса из перечисленных ниже')
                tr
                    td data
                    td= t('Параметры метода в формате JSON')
        | * #{t('Обязательные параметры запроса')}

        h3= t('Структура ответа')
        | #{t('В случае корректно переданных параметров запроса сервер вернёт JSON (Content-Type: application/json; charset=utf-8) следующей структуры:')}
        table
            caption
            tbody
                tr
                    td rid
                    td= t('Переданный клиентом идентификатор запроса')
                tr
                    td stamp
                    td= t('Переданное клиентом время отправки запроса')
                tr
                    td result
                    td= t('Результат выполнения метода. Структура зависит от метода. Может отсутствовать в случае ошибки')
                tr
                    td error
                    td= t('Объект в случае ошибки. {code: <Number>, text: <String>}')

        h3= t('Методы запроса')
        table
            tbody
                tr
                    td photo.get
                    td
                        | #{t('Возвращает объект фотографии')}
                        div= t('Структура')
                        div= t('Структура')
                tr
                    td photos.near
                    td= t('Возвращает массив фотографий, ближайших переданной координате. Массив отсортирован по возрастанию расстояния')
                tr
                    td map.getBounds
                    td= t('Возвращает массивы кластеров и фотографий для карты, входящих в переданные границы')
                tr
                    td comments.getByObj
                    td= t('Возвращает дерево комментариев для фотографии')
