doctype html
html
	head
		include ../includes/head_top_cap
body
	.top.fringe
		a.brand(href='/', title=t('PastVu — a retrospective of humanity\'s habitat', { ns: 'status' }))
			img.logo(src="/img/misc/logo.png")
			img.name(src="/img/misc/name-2x.png", srcset="/img/misc/name.png 1x, /img/misc/name-2x.png 2x")
	style.
		.content {
			max-width: 800px;
		}

		.curr {
			color: #888;
		}

		.browsers {
			margin: 35px auto 5px auto;
		}

		.browsers a {
			display: inline-block;
			margin: 0 5px 5px 5px;
			width: 128px;
			padding: 132px 5px 5px 5px;
			border: 1px solid #eee;
			background-position: 5px 0;
			background-repeat: no-repeat;
		}

		.browsers a:hover {
			border-color: #e4e4e4;
			background-color: #fbfbfb;
		}

		.browsers a.chrome {
			background-image: url(/img/misc/br/chrome_128x128.png);
		}

		.browsers a.firefox {
			background-image: url(/img/misc/br/firefox_128x128.png);
		}

		.browsers a.opera {
			background-image: url(/img/misc/br/opera_128x128.png);
		}

		.browsers a.safari {
			background-image: url(/img/misc/br/safari_8_128x128.png);
		}

		.browsers a.yandex {
			background-image: url(/img/misc/br/yandex_128x128.png);
		}
	.cent.centering_content
		.content.fringe
			p
				span= t('The PastVu team thinks your browser', { ns: 'status' })
				if agent && agent.browser && agent.browser.name
					span.curr=' '+agent.browser.name+' '+agent.browser.major
				span= ' ' + t('is outdated and does not meet the modern requirements our site is built around', { ns: 'status' })
				br
				br
				| #{t('Please update your browser or install one of those listed below from its official site.', { ns: 'status' })}
				br
				| #{t('It will take just a few minutes but will open up the fast modern web for you.', { ns: 'status' })}
				br
				br
				| #{t('And after installing come back to us — the largest historical photo archive PastVu.com!', { ns: 'status' })}
			.browsers
				a.chrome(href="http://www.google.com/chrome", target="_blank") Google Chrome
				a.firefox(href="http://www.mozilla.org", target="_blank") Mozilla Firefox
				a.opera(href="http://www.opera.com", target="_blank") Opera
				a.safari(href="http://www.apple.com/safari", target="_blank") Apple Safari
				a.yandex(href="http://browser.yandex.net", target="_blank") Yandex
			.support
				a(href='mailto:support@pastvu.comm?subject=Site shows a deprecated browser message&body=Hello! My browser ID: '+(agent&&agent.ua?agent.ua:''), target="_blank")
					| #{t('Write to us if we are wrong: support@pastvu.com', { ns: 'status' })}
