.adminRegion(data-bind="with: repository[M!M]")
    //ko if: createMode()
    h4 Создание региона
    // /ko
    form.form-horizontal(action='', autocomplete="off", data-bind="event: {submit: save}")
        //ko if: !createMode()
        .form-group
            label.col-xs-4.col-sm-3.col-lg-2.control-label Редактирование региона
            .col-xs-8.col-sm-9.col-lg-10
                p.form-control-static
                    = 'Номер: '
                    strong(data-bind="text: region.cid()")
                    = '; Уровень: '
                    strong(data-bind="text: (Number(haveParent()) ? region.parents().length + 1 : 1)")
                    = '; Создан: '
                    strong(data-bind="text: fDateIn(new Date(region.cdate()))")
                    //ko if: region.cdate() !== region.udate()
                    = '; Обновлен: '
                    strong(data-bind="text: fDateIn(new Date(region.udate()))")
                    // /ko
        // /ko
        .form-group
            label.col-xs-4.col-sm-3.col-lg-2.control-label Название
            .col-xs-2.col-sm-2
                input.form-control(type='text', data-bind="value: region.title_en, valueUpdate: 'keyup'", placeholder="(EN) Английское", required="required", autocorrect="off", autocapitalize="off")
            .col-xs-2.col-sm-2
                input.form-control(type='text', data-bind="value: region.title_local, valueUpdate: 'keyup'", placeholder="(RU) Русское", autocorrect="off", autocapitalize="off")
            //ko if: !createMode()
            .col-xs-2.col-sm-2(style="padding: 1px 0 0 4px;")
                a.btn.btn-sm.btn-primary(type="button", title="Показать в дереве регионов", data-bind="attr: {href: '/admin/region?hl=' + region.cid()}")
                    span.glyphicon.glyphicon-indent-left
                a.btn.btn-sm.btn-primary(type="button", title="Перейти в галерею региона", data-bind="attr: {href: '/ps?f=r!' + region.cid()}")
                    span.glyphicon.glyphicon-th
            // /ko
        .form-group
            label.col-xs-4.col-sm-3.col-lg-2.control-label Родительский регион
            .col-xs-6.col-sm-4
                .row
                    .col-xs-8.col-sm-9.col-md-8.col-lg-6
                        label.radio-inline
                            input.thr(type="radio", id="parent_radios_0", name="parent_radios", value="0", data-bind="checked: haveParent")
                            |  Отсутствует
                        label.radio-inline
                            input.thr(type="radio", id="parent_radios_1", name="parent_radios", value="1", data-bind="checked: haveParent")
                            |  Есть
                    //ko if: Number(haveParent())
                    .col-xs-4.col-sm-3.col-lg-3
                        input.form-control(type='text', data-bind="value: parentCid, valueUpdate: 'keyup'", placeholder="Номер родительского региона", required="required", autocorrect="off", autocapitalize="off")
                    // /ko
        //ko if: region.parents().length || childLenArr().length
        .form-group
            label.col-xs-4.col-sm-3.col-lg-2.control-label Путь региона
            .col-xs-8.col-sm-9.col-lg-10
                p.form-control-static.path
                    //ko foreach: region.parents
                    a(data-bind="text: ' ' + $data.title_local(), attr: {href: '/admin/region/' + $data.cid()}")
                    | &nbsp;
                    span.glyphicon.glyphicon-play
                    | &nbsp;
                    // /ko
                    //ko if: !createMode()
                    span.current(title="Текущий регион", data-bind="text: ' ' + region.title_local()")
                    // /ko
                    //ko foreach: childLenArr
                    | &nbsp;
                    span.glyphicon.glyphicon-play
                    span(data-bind="text: ' ' + $data")
                    // /ko
        // /ko
        //ko if: !createMode()
        .form-group
            label.col-xs-4.col-sm-3.col-lg-2.control-label Прямые потомки
            .col-xs-8.col-sm-9.col-lg-10(style="padding-top: 2px")
                span.children(data-bind="css: {more: childrenExpand() === 1, expanded: childrenExpand() === 2}")
                    a(data-bind="attr: {href: '/admin/region/create?parent=' + region.cid()}") [+Добавить]
                    //ko if: children().length
                    = ' | '
                    //ko foreach: children
                    | <!--ko if: $index()-->, <!-- /ko -->
                    a(data-bind="attr: {href: '/admin/region/' + $data.cid}", style="white-space:nowrap;")
                        span(data-bind="text: $data.title")
                        //ko if: $data.childrenCount
                        span(data-bind="text: ' +' + $data.childrenCount", style="color:#7489a0;font-size:11px;")
                        // /ko
                    // /ko
                    // /ko
                //ko if: childrenExpand()
                | <!--ko if: childrenExpand() === 1-->, <!-- /ko -->
                span.expand(data-bind="click: childrenExpandToggle")
                    span.glyphicon(data-bind="css: {'glyphicon-chevron-right': childrenExpand() === 1, 'glyphicon-chevron-up': childrenExpand() === 2}")
                    span(data-bind="text: childrenExpand() === 1 ? 'Еще' : 'Свернуть'")
                // /ko
        // /ko
        //ko if: !createMode() && showGeo()
        .form-group
            label.col-xs-4.col-sm-3.col-lg-2.control-label Геометрия
            .col-xs-8.col-sm-9.col-lg-10
                p.form-control-static
                    | Полигонов:
                    strong(data-bind="text: ' ' + formatNum(region.polynum.exterior())")
                    //ko if: region.polynum.interior()
                    |  (+
                    strong(data-bind="text: formatNum(region.polynum.interior())")
                    |  выколотых)
                    // /ko
                    | ; Вершин:
                    strong(data-bind="text: ' ' + (formatNum(region.pointsnum() - region.polynum.exterior() - region.polynum.interior()))")
        // /ko
        //ko if: createMode() || showGeo()
        .form-group
            label.col-xs-4.col-sm-3.col-lg-2.control-label Доп. параметры
            .col-xs-8.col-sm-9.col-lg-10(style="padding-top: 3px")
                .dopparam
                    abbr(title="Центральная точка региона в его домашнем положении") Центр
                    | :
                    input.form-control.input-sm.center(type="text", data-bind="centerInput: true, attr: {readonly: region.centerAuto(), placeholder: region.centerAuto() ? 'Пока не рассчитан' : 'Не задан'}, css: {invalid: !region.centerAuto() && !centerValid()}")
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: region.centerAuto()}, click: centerAutoToggle") Авто
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !region.centerAuto()}, click: centerAutoToggle") Вручную
                br
                .dopparam
                    abbr(title="Bounding box - прямоугольник, в который целиком вписан регион") Bbox
                    | :
                    input.form-control.input-sm.bbox(type="text", readonly, data-bind="attr: {value: region.bbox() ? region.bbox().join(', ') : ''}", placeholder="Пока не рассчитан")
                .dopparam
                    abbr(title="Прямоугольник, который должен быть виден в домашнем положении карты для данного региона. Нужен для расчета масштаба") Bbox дом
                    | .:
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: bboxAuto()}, click: bboxHomeToggle") Как bbox
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !bboxAuto()}, click: bboxHomeToggle") Вручную
                    //ko if: !bboxAuto()
                    input.form-control.input-sm.bbox(type="text", data-bind="bboxhomeInput: true, attr: {readonly: bboxAuto()}, css: {invalid: !bboxAuto() && !bboxhomeValid()}", placeholder="Не задан")
                    // /ko
        .form-group
            label.col-xs-4.col-sm-3.col-lg-2.control-label GeoJSON
            .col-xs-8.col-sm-9.col-lg-10
                textarea.form-control(wrap="soft", rows="5", data-bind="value: region.geo, valueUpdate: 'keyup'", placeholder="{ type: 'Polygon | MultiPolygon', coordinates: [[ [] ]] }", required="required")
        // /ko
        .form-group.actions
            button.btn.btn-success(type="submit", data-bind="attr: {disabled: exe()}")
                span.glyphicon.glyphicon-ok
                |  Сохранить
            button.btn.btn-danger(type="button", data-bind="click: remove, attr: {disabled: exe()}")
                span.glyphicon.glyphicon-remove
                |  Удалить
            //ko if: !createMode()
            button.btn.btn-primary(type="button", data-bind="click: toggleGeo, attr: {disabled: exe()}")
                span.glyphicon.glyphicon-th-list
                span(data-bind="text: showGeo() ? ' Скрыть геометрию' : ' Управление геометрией'")
            // /ko
    .maprow
        .map(data-bind="style: {height: mh()}")
        //ko if: !createMode()
        .mapPanel
            .stats
                //ko if: photostat().all && paintstat().all
                .stats-section.stats-photo
                    | <!--ko template: {name: 'photoStat', data: imagestat()}--><!-- /ko -->
                    .toggleStatByType(data-bind="text: (imagesByType() ? 'Скрыть' : 'Показать') + ' статистику по типам изображений', click: toggleImagesStatType")
                // /ko
                //ko if: photostat().all && (!paintstat().all || imagesByType())
                .stats-section.stats-photo(data-bind="template: {name: 'photoStat', data: photostat()}")
                // /ko
                //ko if: paintstat().all && (!photostat().all || imagesByType())
                .stats-section.stats-photo(data-bind="template: {name: 'photoStat', data: paintstat()}")
                // /ko
                .stats-section.stats-comment(data-bind="with: cstat()")
                    .stats-head
                        span.glyphicon.glyphicon-comment
                        = " Комментариев: "
                        span(data-bind="text: all")
                    div(style="margin-top:3px;")
                        b= "Активных: "
                        span(data-bind="text: all - del")
                    div
                        b= "Удаленных: "
                        span(data-bind="text: del")
                    b(style="display:block;margin-top:4px;") Активных по статусам изображений:
                    //ko foreach: statuses
                    | <!--ko if: $index-->, <!-- /ko -->
                    span(style="white-space:nowrap;")
                        span(data-bind="text: $data.title + ': '")
                        span(data-bind="text: $data.count, css: 'sc' + $data.status")
                    // /ko
            button.btn.btn-primary(type="button", data-bind="click: recalcStats, attr: {disabled: exe()}")
                span.glyphicon.glyphicon-refresh
                span  Пересчитать статистику
        // /ko

    | <script id="photoStat" type="text/html">
    a.stats-head(data-bind="attr: {href: linkprefix + '_s!all'}")
        .sn
            span.glyphicon(data-bind="css: 'glyphicon-' + icon")
            span(style="margin-left: 5px", data-bind="text: title + ': '")
        .sc(data-bind="text: $data.alterAll || $data.all")
    a(style="display:block;margin-top:3px;", data-bind="attr: {href: linkprefix + '_geo!1_s!all'}")
        .sn(style="font-weight:bold;")= "С координатами: "
        .sc(data-bind="text: geo")
    a(style="display:block;", data-bind="attr: {href: linkprefix + '_geo!0_s!all'}")
        .sn(style="font-weight:bold;")= "Без координат: "
        .sc(data-bind="text: all - geo")
    //ko if: own && all !== own
    a(style="display:block;margin-top:4px;", data-bind="attr: {href: linkprefix + '_rs!0_s!all'}")
        .sn(style="font-weight:bold;")= "Без дочерних регионов: "
        .sc(data-bind="text: own")
    a(style="display:block;padding-left:26px;", data-bind="attr: {href: linkprefix + '_rs!0_geo!1_s!all'}")
        .sn= "C координатами: "
        .sc(data-bind="text: owngeo")
    a(style="display:block;padding-left:26px;", data-bind="attr: {href: linkprefix + '_rs!0_geo!0_s!all'}")
        .sn= "Без координат: "
        .sc(data-bind="text: own - owngeo")
    // /ko
    b(style="display:block;margin-top:4px;") По статусам:
    //ko foreach: statuses
    | <!--ko if: $index-->, <!-- /ko -->
    a(style="white-space:nowrap;", data-bind="attr: {href: $parent.linkprefix + '_s!' + $data.status }")
        .sn(data-bind="text: $data.title + ': '")
        .sc(data-bind="text: $data.count, css: 'sc' + $data.status")
    // /ko
    | </script>